@media (max-width: 1920px) {
    .container {
        width: 1560px;
    }

    .idea__info__item__text {
        width: 860px;
    }

    .services__card__shell {
        width: 800px;
    }

}





